/PERTEMUAN_8_MembershipORM/build/
/PERTEMUAN_8_MembershipORM/dist/
/PERTEMUAN_8_MembershipORM/PERTEMUAN_8_MembershipORM/nbproject/private/
/PERTEMUAN_9/jfc-mvc/nbproject/private/
/PERTEMUAN_9/jfc-mvc/build/
/PERTEMUAN_11_MVC/MVC/build/
/PERTEMUAN_11_MVC/MVC/nbproject/private/
/PERTEMUAN_12_OpenPdf/MVC/nbproject/private/
/PERTEMUAN_12_OpenPdf/MVC/build/
/PERTEMUAN11_MVC/jfcmvc/nbproject/private/
/PERTEMUAN11_MVC/jfcmvc/build/
/PERTEMUAN12_PDF/userpdf/nbproject/private/
/StudiKasus2/Studikasus2/nbproject/private/
/StudiKasus2/Studikasus2/build/
/Pertemuan12/Pertemuan12/jfc-mvc/build/
/Pertemuan12/Pertemuan12/jfc-mvc/nbproject/private/
/jfc-konkurensi/build/
/jfc-konkurensi/nbproject/private/
/jfc_konkurensi/build/
/jfc_konkurensi/nbproject/private/
